* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #e0e0e0e0;
}

.container {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

/*====================
**header style start** 
 =====================*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    border-radius: .5rem;
}

.logo {
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 6px 15px;
    box-shadow: 6px 6px 12px #bababa, -6px -6px 12px #ffffff;
    border-radius: 3px;
    background: transparent;
}

span {
    color: red;
    font-family: 'Lobster', cursive;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 5px;
    position: relative;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: capitalize;

}

nav ul li a:hover {
    color: #fff;
    color: coral;
}

.nav-btn {
    text-decoration: none;
    color: #000;
    text-align: center;
    background: transparent;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
}

.nav-btn:hover {
    background-color: coral;
    color: #fff;
    transition: 0.5s;
}

.home {
    width: 100%;
}

.container-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.home .left h1 span {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    color: #e81cff7a;
}

.home .left h1 {
    font-size: 55px;
    padding-top: 10px;
}

.home .left h3 {
    font-size: 40px;
    padding-top: 10px;
}

.home .left p {
    padding: .8rem 0;
}

.btn-overfloy {
    padding: 10px 30px;
    border: none;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    overflow: hidden;
    background-color: #e0e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-overfloy span {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    background: transparent;
}

.left .btn-overfloy:hover {
    box-shadow: inset 6px 6px 12px #bababa,
        inset -6px -6px 12px #ffffff;
}

.home .social-icons i {
    height: 28px;
    width: 28px;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    padding: .4rem;
    margin: .3rem;
    background-color: #e0e0e0e0;
    font-weight: 800;
    border-radius: .2rem;
    color: #000;
    align-items: center;
}

.home .social-icons i:hover {
    box-shadow: inset 6px 6px 12px #bababa,
        inset -6px -6px 12px #ffffff;
}

.home .right {
    margin: auto;

}

.home .right img {
    max-width: 22rem;
    margin-top: 70px;
    border-radius: 1.8rem;
    height: auto;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
}

/*====================
**header style end** 
 =====================*/

/*====================
**About style start** 
 =====================*/
.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 80px;
}

.about .left img {
    max-height: 30rem;
    width: auto;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    border-radius: .5rem 50% .5rem .5rem;
    transition: all .4s ease-in;
}

.about .left img:hover {
    border-radius: 50% .5rem .5rem .5rem;
}

.title h2 {
    font-size: 60px;
    margin-bottom: 10%;
    text-align: start;
}

.title h2 span {
    font-size: 27px;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;

}

.right h3 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #e81cff7a;
}

.right h3 span {
    color: #e81cff7a;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
}

.right p {
    margin-bottom: 20px;
}

.right .btn-overfloy:hover {
    box-shadow: inset 6px 6px 12px #bababa,
        inset -6px -6px 12px #ffffff;
}

/*====================
**about style end** 
 =====================*/


/*====================
**service style start** 
 =====================*/
.service .title h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .box-overlay {
    width: 30%;
    height: auto;
    padding: 0 3rem;
    text-align: center;
    background: transparent;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    padding: 10px;
    transition: 0.75s;
}

.service-container .box-overlay i {
    font-size: 2rem;
    padding: 30px 25px;

}

.service-container .box-overlay h4 {
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.service-container .box-overlay .btn-overfloy {
    padding: .4rem 2rem;
    margin: 1rem 0 1rem;
    font-weight: 700;
    background: #000;
    color: #fff;
}

.service-container .box-overlay::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-450px, -250px);
    background-color: #e81cff7a;
    border-radius: 0 50% 50% 50%;
    width: 32rem;
    height: 23rem;
    transition: all .4s ease-in;

}

.service-container .box-overlay:hover .btn-overfloy:hover {
    background-color: #e81c;
    transition: 0.75s;

}

/*====================
**service style end** 
 =====================*/


/*====================
**protfolio style start** 
 =====================*/
.protfolio .title h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.protfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.protfolio-container .protflio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    overflow: hidden;
    display: flex;
}

.protflio-box img {
    width: 100%;
    transition: 0.5s ease;

}

.protflio-box:hover img {
    transform: scale(1.1);
}

/*====================
**protfolio style end** 
 =====================*/

/*====================
**contact style start** 
 =====================*/
.contact .title h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-contant .row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-contant .box {
    padding: 1.2rem .8rem;
    border-radius: .5rem;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    text-align: center;
}

.box .box-info h3 {
    padding: 10px 0;
}

.contact-contant i {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.contact-contant .contact-form {
    width: 700px;
    padding: 1.4rem 4.5rem;
    background: transparent;
    margin: 1.8rem 0;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    border-radius: .5rem;
}

.contact-contant input,
.contact-contant textarea {
    width: 100%;
    border: none;
    border-radius: 3rem;
    padding: .9rem;
    margin: .3rem 0;
    font-size: 85%;
    font-family: inherit;
    font-weight: bold;
    background: #e0e0e0e0;
    color: #212121;
    box-shadow: inset 6px 6px 12px #bababa,
        inset -6px -6px 12px #ffffff;
}

.contact-contant .btn-overfloy {
    border-radius: 3rem;
}

.contact-contant .btn-overfloy:hover {
    box-shadow: inset 6px 6px 12px #bababa,
        inset -6px -6px 12px #ffffff;
}

.contact-contant .btn-overfloy {
    border-radius: 3rem;
}

.icons {
    padding: 20px 20px;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    border-radius: .5rem;
    display: inline;
}

/*====================
**contact style end** 
 =====================*/

/*-------- icon style start -------*/

.icon {
    height: auto;
    margin-left: 90%;
    margin-top: 2px;
}

/*------- icon style end -----------*/


/*====================
**footer style start** 
 =====================*/
.footer {
    width: 96%;
    margin: auto;
    box-shadow: 6px 6px 12px #bababa,
        -6px -6px 12px #ffffff;
    margin-top: 60px;
    border-radius: .5rem;
}

.footer-text {
    text-align: center;
    padding: 10px;
    line-height: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-text p {
    margin: 11px;
}

.footer-text h1 {
    margin-top: 11px;
}

/*====================
**footer style end** 
 =====================*/

/*====================
 media quary style end  
 =====================*/

/*-------------------
  mobail device style 
  --------------------*/
@media only screen and (max-width: 600px) {

    /*------------------- 
    home style start here 
    --------------------*/
    .container-home {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 2rem; */
    }

    .left {
        text-align: center;
        margin-top: 40px;
    }

    .home .left h1 span {
        font-size: 2rem;
    }

    .home .right img {
        width: 100%;
        height: auto;
        margin-top: 5px;
        border-radius: 1.8rem;
        box-shadow: 6px 6px 12px #bababa,
            -6px -6px 12px #ffffff;
    }

    /*------------------- 
    home style start here 
    --------------------*/


    /*------------------- 
    about style start here 
    --------------------*/

    .about-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .about .right {
        text-align: center;
    }

    .title h2 {
        margin-top: 18%;
        text-align: center;
    }

    .about .left img {
        width: 100%;
        height: auto;
        margin-top: 2px;
    }

    .about-container {
        gap: 0rem;

    }

    /*------------------- 
    about style start here 
    --------------------*/

    /*------------------- 
    service style start here 
    --------------------*/

    .service-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .service-container .box-overlay {
        width: 100%;
        height: auto;
    }

    .service .title h2 {
        text-align: center;
        margin-top: 23%;
        margin-bottom: 20px;
    }


    /*------------------- 
    service style start here 
    --------------------*/


    /*------------------- 
    protfolio style start here 
    --------------------*/
    .protfolio-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 2rem;
    }

    .protfolio .title h2 {
        text-align: center;
        margin-top: 23%;
        margin-bottom: 20px;
    }

    /*------------------- 
    protfolio style start here 
    --------------------*/

    /*------------------- 
    contact style start here 
    --------------------*/
    .contact .title h2 {
        text-align: center;
        margin-top: 23%;
        margin-bottom: 20px;
    }

    .contact-contant .row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .contact-contant .box {
        width: 90%;
        margin: auto;

    }

    .contact-contant .contact-form {
        width: 95%;
        margin: auto;
        margin-top: 20px;
    }

    .contact-contant .contact-form {
        position: relative;
    }

    .contact-contant input,
    .contact-contant textarea {
        width: 143%;
        margin: .3rem 0;
        position: relative;
        right: 50px;
    }

    /*------------------- 
    contact style start here 
    --------------------*/

    .icon {
        height: auto;
        margin-left: 80%;
        margin-top: 50px;
    }
}

/*-------------------
  mobail device style 
  --------------------*/

/*====================
 media quary style end
 =====================*/